.chick {
	height: 22px;
	width: 20px;
	position:absolute;
	top:0px;
	left:0px;
}

.chick-walking-left {
	-webkit-animation: chick-walking-left 0.4s steps(8) infinite;
	-o-animation: chick-walking-left 0.4s steps(8) infinite;
	-moz-animation: chick-walking-left 0.4s steps(8) infinite;
	animation: chick-walking-left 0.4s steps(8) infinite;
	background: url(../../asset/spritesheet/chick.png) 0 -22 no-repeat; 
}

.chick-walking-right {
	-webkit-animation: chick-walking-right 0.4s steps(8) infinite;
	-o-animation: chick-walking-right 0.4s steps(8) infinite;
	-moz-animation: chick-walking-right 0.4s steps(8) infinite;
	animation: chick-walking-right 0.4s steps(8) infinite;
	background: url(../../asset/spritesheet/chick.png) 0 0 no-repeat; 
	height: 22px;
	width: 20px;
}

@-webkit-keyframes chick-walking-right
{
	0% {background-position: 0 0px; } 
	100% {background-position: -160px 0px; }
} 
@-o-keyframes chick-walking-right
{
	0% {background-position: 0 0px; } 
	100% {background-position: -160px 0px; }
}
@-moz-keyframes chick-walking-right
{
	0% {background-position: 0 0px; } 
	100% {background-position: -160px 0px; }
}
@keyframes chick-walking-right
{
	0% {background-position: 0 0px; } 
	100% {background-position: -160px 0px; }
}



@-webkit-keyframes chick-walking-left
{	
	0% {background-position: 0 -22px; } 
	100% {background-position: -160px -22px; }
}
@-o-keyframes chick-walking-left
{	
	0% {background-position: 0 -22px; } 
	100% {background-position: -160px -22px; }
}
@-moz-keyframes chick-walking-left
{	
	0% {background-position: 0 -22px; } 
	100% {background-position: -160px -22px; }
}
@keyframes chick-walking-left
{	
	0% {background-position: 0 -22px; } 
	100% {background-position: -160px -22px; }
}
